@page "/SayHello"

<h2 class="text-center mt-5">Hello! :)
</h2>
<h4 class="text-center text-muted">
    Let´s say hello to all
</h4>
<div class="row mb-5">
    <div class="col-12">
        <nav class="navbar nabvar-light bg-light p-3">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control form control-lg" Placeholder="Type a name">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Lets say hi</button>
                    <button type="button" class="btn btn-primary">Go next</button>
                </div>
            </div>
        </nav>
        <div class="text-center">
                <div class="alert alert-warning" role="alert">
                    Nobody to say hello:(
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>