@page "/BreakingBad"

<div>
    <h1>Breaking Bad Quotes</h1>
</div>

<hr style="width:100%;text-align:left;margin-left:0">


<p>Current count: @currentCount</p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button class="btn btn-primary" disabled="@disableDecreaseButton" @onclick="DecreaseCount">Previous</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button class="btn btn-primary" @onclick="IncrementCount">Next</button>
    </div>
</div>

@code {
    private int currentCount = 0;

    private bool disableDecreaseButton => (currentCount == 0);

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecreaseCount()
    {
        if (currentCount > 0)
        {
            currentCount--;
        }
    }
}